.options__buttons {
	display: flex;
	align-items: center;
}

.optionInput {
	position: relative;
	width: 100%;
}
.optionRadio {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	label {
		flex: 1 1 100%;
	}
}


.buttons {
	display: flex;
}
.hidden {
	display: none;
}
