.QuizCreator {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	flex-grow: 1;
	width: 100%;
	background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
	& > div {
		width: 100%;
		max-width: 600px;
		padding: 0 20px;
	}
	& h1 {
		text-align: center;
	}
	& form {
		background: linear-gradient(90deg, rgba(253, 131, 85, 0.9), rgba(247, 156, 189, 0.7));
		border-radius: 5px;
		padding: 30px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}
}
button {
	width: 100%;
}
input[type=textarea]{
	width: 100%;
}
input[type=radio]{
	width: 10%;
}
